--- 
layout: default 
title: Home 
---

<div class="featured">
	<div class="feature-block row">
		<div class="col-12 feature-title" 
			data-aos="fade-slide-right" 
			data-aos-duration="1000" 
			data-aos-once="true">
			<div class="row close-lines">The &mdash;</div>
			<div class="row close-lines">Latest</div>
		</div>
		{% for post in site.posts limit:3 %}
			<div class="col-4 feature-content related-post" 
				data-aos="fade-rise" 
				data-aos-duration="1000" 
				data-aos-once="true">
				<span>{{ post.date | date: "%b %-d, %Y"}}</span>
				<div class="post-image"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.excerpt }}</a></div>
				<div class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
			</div>
		{% endfor %}

		<!-- {% for post in site.posts limit:5 offset:3 %}
			<div class="col-6 feature-content related-post">
				<span><strong>{{ post.date | date: "%b %-d, %Y"}}</strong></span>
				<div class="post-title sizeup"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
			</div>
			<div class="col-6"></div>
		{% endfor %} -->
	</div>
</div>