<footer>
	<div class="row">
		<div class="col">
			<div class="row">
				<div class="col profile"></div>
				<div class="col aboutme">
					<h4>Hello,</h4>		
					<p>{{ site.author.aboutme }}</p>
					<ul class="socializer">
						<li><a class="in" href="http://instagram.com/meherranjan"></a></li>
						<li><a class="fb" href="http://facebook.com/meherranjan"></a></li>
						<li><a class="li" href="http://linkedin.com/meherranjan"></a></li>
						<li><a class="sp" href="http://spotify.com/meherranjan"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col location">
			<span class="addr">Pune, India</span>
			<span class="pin"></span>
		</div>
	</div>
	<!-- <small>
		&copy;
		<time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
	</small> -->
</footer>