<header>
	<div class="row align-items-center">
		<div class="col">
			<h1 class="masthead-title">
				<a class="brand" href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
			</h1>
		</div>
		<div class="col-6 vertical-align-one">
			<nav>
				<ul class="clearfix vertical-align-two hover-saber">
					<li class="active">
						<a href="/" data-cont="Home">Home</a>
					</li>
					<li>
						<a href="/blog/" data-cont="Blog">Blog</a>
					</li>
					<li>
						<a href="/tutorials/" data-cont="Tutorials">Tutorials</a>
					</li>
					<li>
						<a href="/lab/" data-cont="Lab">Lab</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="col">
			<span class="search">
				<a href=""></a>
			</span>
			<!-- <span class="localization">
				<a href="">EN</a>&middot;
				<a href="">DE</a>
			</span> -->
		</div>
	</div>
</header>