.featured {
    margin-top: 4rem;
    .feature-block {
        margin-bottom: 5rem;
        .feature-title {
            margin-bottom: 3rem;
            font-size: 48px;
            font-family: zero-black;
            letter-spacing: 2px;
            color: #333;
            div {
                margin-bottom: -25px;
            }
        }
        .feature-content {
            cursor: pointer;
            a {
                font-family: zero-bold, sans-serif;
                font-weight: 700;
                font-size: 1.35rem;
                letter-spacing: -0.5px;
            }
            span {
                font-family: zero-book;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 0.6rem;
            }
            .post-image {
                opacity: 0.9;
                margin-top: 10px;
                transition: opacity 1s;
                overflow: hidden;
                height: 200px;
                margin-bottom: 15px;
                &:hover {
                    opacity: 1;
                    transition: opacity 1s;
                }
                img {
                    border-radius: 0;
                }
            }
            .post-title {
                margin-bottom: 50px;
            }
        }
    }
}

[data-aos="fade-rise"] {
    opacity: 0;
    transform: translateY(40px);
    transition-property: transform, opacity;
    transition-timing-function: ease-out;
    &.aos-animate {
        transform: translateY(0px);
        opacity: 1;
    }
}

[data-aos="fade-slide-right"] {
    opacity: 0.3;
    transform: translateX(-20px);
    transition-property: transform, opacity;
    transition-timing-function: ease-out;
    &.aos-animate {
        transform: translateY(0px);
        opacity: 1;
    }
}

[data-aos="pn-slide-to-right"] {
    opacity: 0;
    transform: translateX(-5px);
    transition-property: transform, opacity;
    transition-timing-function: ease-out;
    &.aos-animate {
        transform: translateY(0px);
        opacity: 1;
    }
}

[data-aos="pn-slide-to-left"] {
    opacity: 0;
    transform: translateX(5px);
    transition-property: transform, opacity;
    transition-timing-function: ease-out;
    &.aos-animate {
        transform: translateY(0px);
        opacity: 1;
    }
}

[data-aos="pc-appear"] {
    opacity: 0;
    transition-property: transform, opacity;
    transition-timing-function: ease-out;
    &.aos-animate {
        opacity: 1;
    }
}