.featured {
    margin-top: 3rem;
    .sidebar {
        font-family: zero-book;
        color: #2d3e4f !important;
        font-size: 0.8rem;
        .popular-tags,
        .featured-posts {
            .title {
                margin-bottom: 1rem;
                font-family: zero-book;
                font-size: 0.9rem;
                letter-spacing: 2px;
            }
            .content {
                margin-bottom: 4rem;
                h5 {
                    font-size: 1.2rem;
                    font-family: zero-bold;
                    color: #2d3e4f;
                }
                h4 {
                    display: inline;
                    a {
                        margin-bottom: 0.5rem;
                        margin-right: 0.5rem;
                        background-color: rgba(45, 62, 79, 0.8);
                        border-radius: 0;
                        font-size: 55%;
                        padding: 0.4rem 1rem;
                        opacity: 0.9;
                        transition: opacity 1s;
                        letter-spacing: 0.8px;
                        font-family: zero-medium;
                        font-weight: 300;
                        &:hover {
                            transition: opacity 1s;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .feature-block {
        margin-bottom: 3rem;
        .center {
            justify-content: center;
        }
        .feature-title {
            margin-bottom: 3rem;
            font-size: 48px;
            font-family: zero-medium;
            letter-spacing: 2px;
            color: #2d3e4f;
            div {
                margin-bottom: -30px;
            }
        }
        .feature-content {
            cursor: pointer;
            margin-bottom: 4em;
            a {
                font-size: 1.8rem;
                letter-spacing: 0.5px;
                line-height: 2.2rem;
                font-family: zero-medium;
            }
            span {
                font-family: zero-book;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 0.6rem;
                color: #34485d;
            }
            .post-image {
                opacity: 1;
                margin-top: 10px;
                transition: opacity 1s;
                overflow: hidden;
                height: 230px;
                margin-bottom: 15px;
                &:hover {
                    opacity: 0.95;
                    transition: opacity 1s;
                }
                &.thin {
                    height: 50px !important;
                }
                img {
                    border-radius: 0;
                    width: 100%;
                }
            }
            .post-title {
                margin-top: 0.5rem;
                a {
                    color: #2d3e4f;
                }
                &.sizeup {
                    font-size: 1.5rem;
                    margin-bottom: 40px;
                }
            }
        }
    }
}

[data-aos="fade-rise"] {
    opacity: 0;
    transform: translateY(40px);
    transition-property: transform, opacity;
    transition-timing-function: ease-out;
    &.aos-animate {
        transform: translateY(0px);
        opacity: 1;
    }
}

[data-aos="fade-slide-right"] {
    opacity: 0.3;
    transform: translateX(-20px);
    transition-property: transform, opacity;
    transition-timing-function: ease-out;
    &.aos-animate {
        transform: translateY(0px);
        opacity: 1;
    }
}

[data-aos="fade-slide-up"] {
    opacity: 0.3;
    transform: translateY(20px);
    transition-property: transform, opacity;
    transition-timing-function: ease-out;
    &.aos-animate {
        transform: translateY(0px);
        opacity: 1;
    }
}

[data-aos="pn-slide-to-right"] {
    opacity: 0;
    transform: translateX(-5px);
    transition-property: transform, opacity;
    transition-timing-function: ease-out;
    &.aos-animate {
        transform: translateY(0px);
        opacity: 1;
    }
}

[data-aos="pn-slide-to-left"] {
    opacity: 0;
    transform: translateX(5px);
    transition-property: transform, opacity;
    transition-timing-function: ease-out;
    &.aos-animate {
        transform: translateY(0px);
        opacity: 1;
    }
}

[data-aos="pc-appear"] {
    opacity: 0;
    transition-property: transform, opacity;
    transition-timing-function: ease-out;
    &.aos-animate {
        opacity: 1;
    }
}

@media (max-width: 767.98px) {
    .featured .feature-block .feature-content span {
        font-size: 0.8rem;
    }
}
