@mixin beforeafter($img) {
	content: '';
	background: url($img) top left/90% no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
}

footer {
	position: relative;
	font-family: zero-bold, sans-serif;
	margin-top: 240px;
	small {
		font-family: zero-book, sans-serif;
		color: #fff;
		font-size: 0.5rem;
		text-transform: uppercase;
		opacity: 0.2;
	}
	div.location {
		position: relative;
		background: url(./public/location.png) center no-repeat;
		span.addr {
			position: absolute;
			left: 50%;
			top: 50%;
			font-weight: 700;
			font-family: 'zero-bold', sans-serif;
			font-size: 0.5rem;
			color: $gray-4;
			margin-left: -32px;
			margin-top: -30px;
			text-transform: uppercase;
			text-align: center;
		}
		span.pin {
			position: absolute;
			left: 50%;
			top: 50%;
			background: url(./public/pin.png) center/100% no-repeat;
			width: 16px;
			height: 26px;
			margin-left: -8px;
			margin-top: -13px;
		}
	}
	div.aboutme {
		color: #fff;
		h4 {
			position: relative;
			font-size: 1.5rem;
			font-weight: 800 !important;
		}
		p {
			font-family: zero-book, sans-serif;
			font-size: 0.75rem;
			font-weight: 100;
			line-height: 24px;
			margin-bottom: 15px;
			letter-spacing: 0.025rem;
		}
		.socializer {
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;
			li {
				position: relative;
				float: left;
				width: 24px;
				height: 18px;
				margin-left: 10px;
				&:first-child {
					margin-left: 0;
				}
				a {
					&.fb {
						&:after{
							@include beforeafter('./public/facebook.png')
						}
					}
					&.sp {
						&:after{
							@include beforeafter('./public/spotify.png')
						}
					}
					&.in {
						&:after{
							@include beforeafter('./public/instagram.png')
						}
					}
					&.li {
						&:after{
							@include beforeafter('./public/linkedin.png')
						}
					}
				}
			}
		}
	}
}