$svg-mobile-height: 100px;
$svg-desktop-height: 200px;

body {
  height: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased !important;
  &:before {
    content: '';
    position: absolute;
    left: -5px;
    top: -25px;
    width: 105%;
    height: $svg-desktop-height;
    background: #17A085;
    opacity: 1;
    z-index: -100000000;
  }
  &:after {
    content: '';
    position: absolute;
    margin-top: -14rem;
    background: #2d3e4f;
    width: 100%;
    height: 14rem;
    z-index: -10000000;
  }
  .page-progress {
    position: fixed;
    left: 0;
    top: 0;
    height: 4px;
    background: linear-gradient(to right, #17A085 var(--scroll), transparent 0);
    background-size: 100%;
    animation: 300s linear infinite barprogress, 10s fadein;
    opacity: 1;
    width: 100%;
    z-index: 1000000;
  }
}

.line-container {
  width: 105%;
  height: $svg-desktop-height;
  position: absolute;
  left: -5px;
  top: -25px;
  overflow: hidden;
  svg {
    height: 100vh;
    width: 100vw;
  }
  path {
    fill: none;
    stroke: #87D1C3;
    opacity: 0.8;
    stroke-width: 0.5px;
    vector-effect: non-scaling-stroke;
  }
}

header {
  height: $svg-desktop-height;
  padding: 60px 0 0 0;
  .masthead-title {
    position: relative;
    margin-top: -0.5rem;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0);
    a.brand {
      position: relative;
      color: inherit;
      text-transform: capitalize;
      text-decoration: none;
      background: url(./public/logo.svg) center/100% no-repeat;
    }
    >span {
      margin-left: 15px;
    }
    small {
      font-size: 75%;
      font-weight: 400;
      opacity: .5;
    }
  }
  nav {
    ul {
      list-style: none;
      padding: 0;
      li {
        position: relative;
        float: left;
        margin-left: 60px;
        height: 36px;
        a {
          text-decoration: none;
          font-size: 60%;
          text-transform: uppercase;
          letter-spacing: 4px;
          color: $gray-4;
        }
      }
    }
  }
  .localization {
    float: right;
    font-size: 60%;
    font-weight: 400;
    padding: 11px 0;
    color: white;
    a {
      text-transform: capitalize;
      padding: 0 5px;
      text-decoration: none;
      color: white;
    }
  }
  .search {
    padding: 12px 0;
    float: right;
    margin-left: 10px;
    a {
      position: relative;
      color: rgba(0,0,0,0);
      &:hover input {
        width: 100%;
      }
      input {
        transition: width 0.2s ease-in;
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        border: none;
        color: white;
        border-bottom: 2px white solid;
        font-size: 60%;
        width: 0%;
        outline: none;
        &::placeholder {
          color: white;
        }
      }
      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
        height: 20px;
        background: url(./public/search-sm.png) center/50% no-repeat;
      }
    }
  }
  .vertical-align-one {
    display: table;
    table-layout: fixed;
    .vertical-align-two {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
}

@media (max-width: 767.98px) {
  body {
    &:before {
      content: '';
      position: absolute;
      left: 0px;
      top: 0px;
      transform: rotate(0deg);
      height: $svg-mobile-height;
    }
    &:after {
      content: '';
      margin-top: -16rem;
      height: 16rem;
    }
    .line-container {
      width: 100%;
      transform: rotate(0deg);
      height: $svg-mobile-height;
      left: 0;
      display: none;
    }
    header {
	  height: $svg-mobile-height;
	  padding-top: 25px;
      .masthead-title {
        font-size: 3.2rem;
      }
    }

    footer {
      padding: 1.5rem;
      .location {
        display: none;
      }
    }
  }
}