body {
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 3px;
		background: #27c4f5 linear-gradient( to right, #27c4f5, #fd8d32, #70c050, #27c4f5);
		background-size: 500%;
		animation: 300s linear infinite barprogress, 10s fadein;
		opacity: 0.7;
		width: 100%;
		z-index: 1000000;
	}
	&:after {
	  content: '';
	  position: absolute;
	  left: -5px;
	  top: -25px;
	  width: 105%;
	  height: 200px;
	  background: #58B19F;
	  opacity: 1;
	  z-index: -100000000;
	  transform: rotate(2deg);
	}
}

.line-container {
	width: 105%;
    height: 200px;
    position: absolute;
    left: -5px;
    top: -25px;
    overflow: hidden;
    transform: rotate(2deg);
	svg {
		height: 100vh;
		width: 100vw;
	}
	path {
		fill: none;
		stroke: #87D1C3;
		opacity: 0.8;
		stroke-width: 0.5px;
		vector-effect: non-scaling-stroke;
	}
}

header {
	height: 250px;
	padding: 60px 0 0 0;
	.masthead-title {
		position: relative;
		margin-top: -0.5rem;
		margin-bottom: 0;
		color:rgba(0,0,0,0);
		a.brand {
			position: relative;
			color: inherit;
			text-transform: capitalize;
			text-decoration: none;
			background: url(./public/logo.svg) center/100% no-repeat;
		}
		> span {
			margin-left: 15px; 
		}
		small {
			font-size: 75%;
			font-weight: 400;
			opacity: .5;
		}
	}

	  nav {
		  ul {
			list-style: none;
			padding: 0;

			li {
				position: relative;
				float: left;
				margin-left: 60px;
				height: 36px;
				a {
					text-decoration: none;
					font-size: 60%;
					text-transform: uppercase;
					letter-spacing: 4px;
					color: $gray-4;
				}
			}
		}
	}

	.localization {
		float: right;
		font-size: 55%;
		font-weight: 400;
		padding: 11px 0;
		color: $gray-4;
		a {
			text-transform: capitalize;
			padding: 0 5px;
			text-decoration: none;
			color: $gray-4;
		}
	}

	.search {
		font-size: 55%;
		padding: 11px 0;
		float:right;
		margin-left: 10px;
		a {
			text-decoration: none;
			padding: 0 10px;
			background: url(./public/search-sm.png) center/50% no-repeat;
		}
		a:hover input{
			border: 1px red solid;
			width: 100px;
		}
		input {
			width: 0;
		}
	}

	.vertical-align-one {
		display: table;
		table-layout: fixed;
		.vertical-align-two {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}

	}

}
