// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.
.page,
.post {
    color: #232323;
    margin-bottom: 4em;
    margin-top: 4em;
    .post-hero {
        height: auto;
        width: 100%;
        margin: auto;
        margin-top: 4rem;
    }
    li+li {
        margin-top: .25rem;
	}
	
	.post-categories {
		margin-bottom: 20px;
		a {
			opacity: 0.5;
			color: #58B19F;
			text-transform: uppercase;
			font-size: 0.5rem;
			letter-spacing: 2px;
			-webkit-transition: opacity 0.5s;
			&:hover {
				-webkit-transition: opacity 0.5s;
    			opacity: 0.9;
			}
		}
		a + a {
			margin-left: 5px;
		}
	}
}

.post-next{
    .post-nav, .next {
        text-align: right;
    }
}

.post-prev, .post-next {
	font-family: zero-book, sans-serif;
    font-size: 0.8rem;
    margin-top: 5rem;
    span {
        display: block;
    }
    .post-nav {
        font-size: 0.6rem;
        font-family: zero-book, sans-serif;
        letter-spacing: 3px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .svg-cont {
        height: 2rem;
    }
    .chevron {
        height: 2rem;
        width: 2rem;
    }
    .chevron-next {
        transform: rotate(-90deg);
        float: right;
    }

    .chevron-prev {
        transform: rotate(90deg);
        float: left;
    }
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
    font-family: zero-medium, sans-serif;
}

.page-title,
.post-title {
    margin-top: 0;
}

.post-content-image > p {
	margin-top: 3rem;
	margin-bottom: 4rem;
}

// Meta data line below post title
.post-date {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: #232323;
    font-size: 0.65rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

// Related posts
.related {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    h3 {
        font-family: zero-book;
        text-align: center;
        font-size: 1.5rem;
        color: #232323;
    }
    .related-post {
        font-family: zero-book;
        font-size: 1rem;
        margin-top: 4rem;
    }
}

.posts {
    h3 {
        font-family: zero-bold;
        font-size: 175%;
    }
}

.sharepost {
	margin-bottom: 2rem;
    .at-share-btn-elements {
		text-align: center;
		a {
			background-color: white !important;
			svg {
				fill: #333 !important;
			}
		}
        a+a {
			margin-left: 1rem;
        }
    }
}
