<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		{% if page.path contains '_posts' %}<div class="page-progress"></div>{% endif %}
		<div id="aerosailor-loader">&nbsp;</div>
		<div class="line-container">
			<svg class="animated-lines" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"></svg>
		</div>
		<div class="container content">
			{% include body-header.html %}
			{% include body-content.html %}
			{% include body-footer.html %}
		</div>

		<script src="{{ site.baseurl }}/scripts/bezier.js"></script>
		<script src="{{ site.baseurl }}/node_modules/aos/dist/aos.js"></script>
		<script src="{{ site.baseurl }}/scripts/main.js"></script>
		<script>
			var h = document.documentElement,
				b = document.body,
				st = 'scrollTop',
				sh = 'scrollHeight',
				progress = document.querySelector('.page-progress'),
				scroll;

			document.addEventListener('scroll', function () {
				scroll = (h[st] || b[st]) / (((h[sh] || b[sh]) - 1250) - h.clientHeight) * 100;
				progress.style.setProperty('--scroll', scroll + '%');
			});
		</script>
		{% if site.analytics_id %}
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116074903-1"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag() { dataLayer.push(arguments); }
				gtag('js', new Date());
				gtag('config', 'UA-116074903-1');
			</script>
		{% endif %}
	</body>
</html>