---
layout: default
comments: true 
---
<article class="row">
	<article class="post-prev col-2" data-aos="pn-slide-to-right">
		{% if page.previous.url %}
			<a class="post-navigator" href="{{ page.previous.url }}">
				<span class="svg-cont">
					<svg class="chevron chevron-prev" viewBox="0 0 1024 1024" width="100%" height="100%">
						<path class="path1" d="M476.455 806.696l-381.164-381.164q-14.621-14.621-14.621-35.293t14.621-34.789 35.293-14.117 34.789 14.117l342.846 343.35 349.4-349.4q14.621-14.117 35.293-14.117t34.789 14.117 14.117 34.789-14.117 34.789l-381.164 381.164q-19.159 19.159-38.318 19.159t-31.764-12.605z"></path>
					</svg>
				</span>
				<span class="post-nav">PREV</span>
				<span class="prev">
					{{ page.previous.title }}
				</span>
			</a>
		{% endif %}
	</article>

	<article class="post col-lg-8 col-sm-12 col-md-8">
		<div class="post-categories">
			{% for category in page.categories %}
				<a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{ category }}</a>
				{% unless forloop.last %} &nbsp; {% endunless %}
			{% endfor %}
		</div>
		<h1 class="post-title">{{ page.title }}</h1>
		<time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">
			<div class="post-details-meta">
				<span>{{ page.date | date: "%b %-d, %Y" }} </span>
				<span>&mdash;</span>
				<span class="reading-time" title="Estimated Read Time">
                    {{ page.content | reading_time }}
                </span>
			</div>
		</time>
		<div data-aos="pc-appear" data-aos-once="true" class="post-content-image">{{ content }}</div>
	</article>

	<article class="post-next col-2" data-aos="pn-slide-to-left">
		{% if page.next.url %}
			<a class="post-navigator" href="{{ page.next.url }}">
				<span class="svg-cont">
					<svg class="chevron chevron-next" viewBox="0 0 1024 1024" width="100%" height="100%">
						<path class="path1" d="M476.455 806.696l-381.164-381.164q-14.621-14.621-14.621-35.293t14.621-34.789 35.293-14.117 34.789 14.117l342.846 343.35 349.4-349.4q14.621-14.117 35.293-14.117t34.789 14.117 14.117 34.789-14.117 34.789l-381.164 381.164q-19.159 19.159-38.318 19.159t-31.764-12.605z"></path>
					</svg>
				</span>
				<span class="post-nav">NEXT</span>
				<span class="next">
					{{ page.next.title }}
				</span>
			</a>
		{% endif %}
	</article>
</article>

<aside class="sharepost">
	<div class="addthis_inline_share_toolbox"></div>
</aside>

{% if site.related_posts != empty %}
	<aside class="related">
		<h3>Related Posts</h3>
		<div class="row related-post">
			<div class="col-10 offset-md-1">
				<div class="row">
					{% for post in site.related_posts limit:3 %}
					<div class="col-4">
						<div class="related-post-banner">
							{{ post.excerpt }}
						</div>
						<a href="{{ site.baseurl }}{{ post.url }}">
							{{ post.title }}
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</aside>
{% endif %}

<aside>
	<div id="disqus_thread"></div>
	<script>
		var disqus_config = function () {
			this.page.url = "{{ site.url }}";
			this.page.identifier = "{{ page.url }}";
		};
		(function () {
			var d = document, s = d.createElement('script');
			s.src = 'https://aerosailor.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</aside>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5aad0ac74409f0df"></script>

<!-- condition page level scripts -->
										<!--  -->
{% if page.codepen %}
	<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
{% endif %}

{% if page.d3js %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/function-plot/1.18.1/function-plot.js"></script>
{% endif %}